.DS_Store
.idea/*
__pycache__/*
.ipynb_checkpoints
.pytest_cache
.vscode
/data/*
/images/*
/venv/*
/src/paths.py
/src/__pycache__/*
.vscode/*
/src/.ipynb_checkpoints/*
.ipynb_checkpoints/*
/src/notebooks/.ipynb_checkpoints
PBS*
